<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}" />
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Symfony 4</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                {% if app.user %}
                <li class="nav-item active"><a class="nav-link" href="{{ path('tareas') }}">Tareas
                        <span class="sr-only">(current)</span>
                    </a></li>
                <li class="nav-item"><a class="nav-link" href="{{ path('categoria') }}">Categorias</a>
                </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('usuarios') }}">Crear Usuario</a>
                    </li>
                {% endif %}
            </ul>

            <ul class="navbar-nav navbar-right">


                {% if app.user %}
                <li class="dropdown">
                    <a class="btn btn-outline-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span> {{ app.user.nombreusuario }}</span>
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item btn btn-outline-primary" href="{{  path('logout') }}"> Sign in</a>
                    </div>
                </li>
                {% else %}
                    <li ><a class="btn btn-outline-primary" href="{{  path('login') }}"> Sign in</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <br/>
    <h1>{{title}}</h1>
    {% for sussecs in app.session.flashbag().get('sussecs') %}
        <br/>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{sussecs}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {%endfor%}
    {% for error in app.session.flashbag().get('errors') %}
        <br/>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {%endfor%}
    {% for errors in app.session.flashbag().get('error') %}
        {% for  error in errors%}
            <div class="alert alert-danger">{{error}}</div>
        {%endfor%}
    {%endfor%}
</div>
<div class="container">
    {% block body %}{% endblock %}
</div>

<footer class="container">
    <hr/>
		<p>

		</p>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Bootstrap JS -->
		<script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
		<script src="{{ asset('js/popper.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
        {% block bodyjs %}{% endblock %}
	</footer>
</body>
</html>