{% extends 'layouts/master.html.twig' %}

{% block body %}
<div class="example-wrapper ">
    <br/>
    <a class="btn btn-primary" href="{{ path('tareasCrear') }}" role="button">Crear</a>
    <br/> <br/>
    <table class="table table-hover ">
        <thead class="thead-dark">
            <tr class="thead-dark">
                <th scope="col">Nombre</th>
                <th scope="col">Descripci&oacute;n</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>

            {% if categorias|length >= 1 %}
                {% for categoria in categorias %}
                    <tr>
                        <td>{{ categoria.nombre }}</td>
                        <td>{{ categoria.descripcion }}</td>
                        <td>
                            <a class="btn btn-primary" href="{{ path('categoriaEditar') }}/{{categoria.idcategoria}}" role="button">Editar</a>
                            <a class="btn btn-danger" href="{{ path('categoriaEliminar') }}/{{categoria.idcategoria}}" onclick="return confirm('Estás seguro que quieres eliminar?')" role="button">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="3"> No hay datos</td>
                </tr>
            {% endif %}

        </tbody>
    </table>
</div>
{% endblock %}
